.slider {
    overflow: hidden;
}

.mountain-image {
    border-radius: 1.3em;
    padding-top: 10px;
    width: 100%;
    height: 300px;
    object-fit: 'cover'
}

.image-text {
    text-align: center;
}