.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.7em;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 1em;
    background-color: #333;
    color: white;
    width: 300px;
    height: 40px;
}